
.form {
    border: 1px solid black;
    padding: 1em;
    margin-left: 20%;
    margin-right: 20%;
    background-color: lightblue;
    border-radius: 0.2em;
}

.title-form {
    text-align: center;
    color: black;
}


input[type='text'] {
    max-width: auto;
    min-width: 98%;
    padding: 0.3em;
    font-size: 1.2em; 
    margin-bottom: 1em;
    border-radius: 0.2em;
    outline: none;
    border: 1px solid rgba(0,0,0,0.5);
}



textarea {
    padding: 0.2em;
    font-size: 1.2em;
    resize: none;
    max-width: auto;
    min-height: 50%;
    outline: none;
    border: 1px solid rgba(0,0,0,0.5); 
    min-width: 98%;   
}

.button-form {
    margin-top: 1em;
    background-color: #141E30;
    cursor: pointer;
    display: block;
    border: 0;
    margin-bottom: 0;
    font-size: 1.2em; 
}


.box-check {
    color: #000;
    margin-top: 1em;
    margin-bottom: 1em;
}

input[type='checkbox'] {
    display: inline-block;
    
}

.delete-button-form {
    background-color: red;
}